* {
    margin: 0 !important;
    padding: 0 !important;
}

nav {
    display: flex;
    align-items: center;
}

.section-sesion {
    display: flex;
}

.volver-atras {
    text-decoration: none;
    padding: 2rem !important;
    color: black;
    font-size: 1.5rem;
}

article {
    max-width: 700px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    margin: 0 auto !important;
    margin-top: 2rem !important;
}

img {
    max-width: 700px;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    row-gap: 1rem;
    padding: 1rem !important;
    overflow-x: hidden;
    max-width: 100%;
    box-sizing: border-box;
    max-width: 700px !important;
}

.text-body-secondary {
    font-size: 1rem;
}

span {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.subrayado {
    background-color: black;
    height: 0.2px;
    width: 100%;
    border-radius: 1rem;
}

.card-text {
    display: block !important;
    white-space: normal !important;
    overflow-wrap: anywhere !important;
    word-break: break-word !important;
    box-sizing: border-box !important;
}