* {
    margin: 0 !important;
    padding: 0 !important;
}

#main-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.section-sesion {
    margin-top: 6rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;  
    height: 600px;
    column-gap: 1rem;
}

.section-sesion article {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    height: 100%;
    align-items: center; 
}

.volver-atras {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 350px;
    color: black;
    font-size: 1.5rem;
    background-color: #bdd4e9;
    border-radius: 6px;
    transition: font-size 0.2s ease;
}

.volver-atras:hover {
    font-size: 1.8rem;
}

.acciones-sesion {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.acciones-sesion > a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #d6eaf4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem !important;
    border: none;
}

.acciones-sesion > a:first-of-type {
    background-color: rgba(255, 0, 0, 0.76);
    width: 50%;
    border-radius: 6px 0 0 6px;
}

.acciones-sesion > a:last-of-type {
    background-color: rgba(0, 0, 255, 0.692);
    border-radius: 0 6px 6px 0;
    width: 50%;
}

.card {
    margin-bottom: 0 !important;
}

img {
    max-width: 470px;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    row-gap: 1rem;
    padding: 1rem !important;
    overflow-x: hidden;
    max-width: 100%;
    box-sizing: border-box;
    max-width: 700px !important;
    background-color: #d6eaf4;
}

.text-body-secondary {
    font-size: 1rem;
}

span {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.subrayado {
    background-color: black;
    height: 0.2px;
    width: 100%;
    border-radius: 1rem;
}

.card-text {
    display: block !important;
    white-space: normal !important;
    overflow-wrap: anywhere !important;
    word-break: break-word !important;
    box-sizing: border-box !important;
}