* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.logo {
    width: 120px;
}

.row a {
    padding: 6rem;
}

.article-links-1 a:nth-child(1), .article-links-2 a:nth-child(2) {
    background-color: #EAF1E8;
}

.article-links-1 a:nth-child(2), .article-links-2 a:nth-child(1) {
    background-color: #ccd1cb;
}

svg {
    transition: color 0.3s ease;
}

.article-links-1 a:hover, .article-links-2 a:hover { 
    svg {
        color: black;
    }   
}

.svg-1 {
    color: #ccd1cb;
}

.svg-2 {
    color: #EAF1E8;
}

.span-index {
    font-size: 1.5rem;
    color: black;
}

.input-paciente {
    padding: 0.6rem 1rem !important;
    background-color: #EAF1E8;
    border: 1px solid #9a9e9a;
    border-radius: 6px;
}

.td-links {
    display: flex;
    column-gap: 1rem;
}

.article-talbe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

tr {
    height: 70px;
    transition: background-color 0.2s ease;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

#th-num-tratamiento {
    text-align: center;
}

.num-tratamiento {
    text-align: center;
}

#form-alta, .form-modificacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}

input {
    padding: 0.4rem !important ;
}

.div-checkbox {
    width: 10% !important;
    padding: 0 !important;
}

textarea {
    padding: 0.5rem;
    resize: vertical;
}

.volver-atras {
    text-decoration: none;
    padding: 0 2rem !important;
    color: black;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #ccd1cb;
    transition: font-size 0.3s ease;
}

.volver-atras:hover {
    font-size: 1.8rem;
}

.main-mod-paciente {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main-mod-paciente section {
    display: flex;
    margin-top: 5rem;
    background-color: #EAF1E8;
    border-radius: 0 8px 8px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-mod-paciente section > article:last-of-type {
    padding: 1.5rem;
}

.submit-paciente {
    width: 45% !important;
    color: #EAF1E8;
    font-weight: bolder;
    background-color: #9a9e9a;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
}

.submit-paciente:hover {
    background-color: #aaafaa;
}

.article-alta-tratamiento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-alta-tratamiento form {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.article-alta-tratamiento form > * {
    border: #9a9e9a solid 1px;
    border-radius: 5px;
    width: 33%;
}

.article-alta-tratamiento form input[type=submit] {
    background-color: #EAF1E8;
    color: black;
}

.article-alta-tratamiento form input[type=submit]:hover {
    background-color: rgba(234, 241, 232, 0.836)
}

.columna-nombre {
    padding-left: 1rem;
}

footer {
    background-color: #EAF1E8;
}

footer p:last-of-type {
    margin-right: 2rem;
}