* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.td-links {
    display: flex;
    column-gap: 1rem;
}

.article-talbe {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

tr {
    height: 70px;
    transition: background-color 0.2s ease;
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

#th-num-tratamiento {
    text-align: center;
}

.num-tratamiento {
    text-align: center;
}

#form-alta, .form-modificacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
}

input {
    padding: 0.4rem !important ;
}

.div-checkbox {
    width: 10% !important;
    padding: 0 !important;
}

textarea {
    padding: 0.5rem;
    resize: vertical;
}