#form-alta {
    display: flex;
}

#section-alta-pacientes {
    display: flex;
    padding: 2rem;
    background-color: #EAF1E8;
}

.links-pacientes {
    border-radius: 5px;
    padding: 0.3rem 1rem;
    color: aliceblue;
    text-decoration: none;
    margin-top: 1rem;
}

.modificar-paciente {
    background-color: rgba(4, 18, 141, 0.788);
}

.eliminar-paciente {
    background-color: rgba(255, 0, 0, 0.76);
}