main {
    display: flex;
}

a {
    text-decoration: none;
    color: #141414;
}

.seccion-elegida {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert {
    padding: 1rem;
    border-radius: 0.4rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.alert-danger {
    background-color: rgba(255, 0, 0, 0.247);
    border: 1px solid rgba(255, 0, 0, 0.349);
}

.alert-success {
    background-color: rgba(0, 128, 0, 0.24);
    border: green 1px solid;
}

.card {
    width: 300px;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(
    139deg,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 100%
);

    border-radius: 10px;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card .separator {
    border-top: 1.5px solid #42434a;
}

.card .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0px 10px;
}

.card .list .element {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-out;
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.card .list .element svg {
    width: 19px;
    height: 19px;
    transition: all 0.3s ease-out;
}

.card .list .element .label {
    font-weight: 600;
}

.card .list .element:hover {
    background-color: #5353ff;
    transform: translate(1px, -1px);
    a {
    color: #fff;
    }
}
.card .list .delete:hover {
    background-color: #8e2a2a;
}

.card .list .element:active {
    transform: scale(0.99);
}

.card .list:not(:last-child) .element:hover svg {
    stroke: #fff;
}

.card .list:last-child .element:hover {
    background-color: rgba(0, 0, 0, 0.85);
}