.form-contrasenia, .form-contrasenia-actual {
    background-color: #fff;
    padding: 1.3rem;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 2px;
}

.form-contrasenia-actual {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 600px;
}

.form-contrasenia-actual > div * {
    width: 95%;
}

.form-contrasenia-actual > input {
    width: 100%;
}

.form-contrasenia {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.form-contrasenia > div:first-of-type {
    display: flex;
    column-gap: 1rem;
}

input[type=submit] {
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.4rem;
    background-color: #5264AE;
    color: #fff;
    transition: border-radius 0.3s ease
    ,transform 0.3s ease;
}

input[type=submit]:hover {
    border-radius: 1.5rem;
    transform: translateY(-2px);
}

.group {
    position: relative;
}

.input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
    background: #5264AE;
    }

    to {
    width: 0;
    background: transparent;
    }
}