* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 150px;
    height: auto;
}

.div-log {
    width: 400px;
    margin-right: 2.5rem;
}

.div-log > a {
    text-decoration: none;
    font-size: 1.4rem;
    width: 100%;
    color: black;
    transition: font-size 0.2s ease;
}

.div-log > a:hover {
    font-size: 1.7rem;
}

.section-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-bienvenida {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.article-bienvenida h1 {
    text-align: center;
}

.article-bienvenida p {
    font-size: 1.4rem;
    margin: 0 5rem 0 3rem;
    text-align: justify;
}

.imagen-index {
    width: 700px;
}

#main-index {
    background-color: #e3f0df;
}

.navbar {
    width: 100%;
    background-color: #e3f0df !important;
}

.navbar, footer {
    border: #c8d3c5 solid 1px;
}

footer {
    background-color: #e3f0df;
}

footer p:last-of-type {
    margin-right: 2rem;
}