* {
    margin: 0;
    padding: 0;
}

#logo {
    width: 150px;
    height: auto;
}

header {
    background-color: rgba(172, 255, 47, 0.534);
}

.div-sesion {
    width: 100px;
    margin-right: 2.5rem;
}

.iniciar-sesion {
    text-decoration: none;
    width: 100%;
    color: black;
}